@model UserModel
@{
    ViewData["Title"] = "CreateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Crear nuevo usuario</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label asp-for="UserName">Username:</label>
        <input asp-for="UserName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Crear</button>
}

<p><a asp-action="GetAllUsers">Volver a la lista de usuarios</a></p>
